In [1]:
import pandas as pd

from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [2]:
col_names = ['buying', 'maint', 'doors', 'persons', 'lug_boot',
             'safety', 'label']

In [3]:
car_dataset = pd.read_csv('../data/car.data.csv', names=col_names, 
                         header=None, )

In [4]:
car_dataset.head()

  buying  maint doors persons lug_boot safety  label
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

In [5]:
quality_dict = {'vhigh': 4, 'high': 3, 'med': 2, 'low': 1}
boot_dict = {'small': 1, 'med': 2, 'big': 3}
label_dict = {'unacc': 1, 'acc': 2, 'good': 3, 'vgood': 4}

In [6]:
car_dataset['buying'] = car_dataset['buying'].map(lambda x: quality_dict[x])

In [7]:
car_dataset['maint'] = car_dataset['maint'].map(lambda x: quality_dict[x])

In [8]:
car_dataset['safety'] = car_dataset['safety'].map(lambda x: quality_dict[x])

In [9]:
car_dataset['lug_boot'] = car_dataset['lug_boot'].map(lambda x: boot_dict[x])

In [10]:
car_dataset['label'] = car_dataset['label'].map(lambda x: label_dict[x])

In [11]:
car_dataset['doors'] = car_dataset['doors'].map(lambda x: x if 'more' not in str(x) else 5)

In [12]:
car_dataset['persons'] = car_dataset['persons'].map(lambda x: x if 'more' not in str(x) else 6)

In [13]:
car_dataset.head()

   buying  maint doors persons  lug_boot  safety  label
0       4      4     2       2         1       1      1
1       4      4     2       2         1       2      1
2       4      4     2       2         1       3      1
3       4      4     2       2         2       1      1
4       4      4     2       2         2       2      1

In [14]:
X_train, X_test, y_train, y_test = train_test_split(
    car_dataset[['buying', 'maint', 'doors', 'persons', 'lug_boot', 'safety']], 
    car_dataset['label'])

In [15]:
car_dataset.to_csv('../data/car_cleaned.csv', index=False)

In [16]:
X_train

      buying  maint doors persons  lug_boot  safety
1546       1      2     3       2         3       2
1490       1      3     5       2         2       3
967        2      4     5       6         2       2
495        3      4     4       4         1       1
1566       1      2     4       2         1       1
58         4      4     4       2         2       2
1266       2      1     4       6         3       1
1421       1      3     2       4         3       3
1568       1      2     4       2         1       3
172        4      3     4       4         1       2
1653       1      1     3       2         3       1
1584       1      2     4       6         1       1
1663       1      1     3       4         3       2
565        3      3     2       6         3       2
194        4      3     5       2         2       3
1651       1      1     3       2         2       2
1171       2      2     5       4         1       2
1008       2      3     3       4         1       1
444        3      4     2       4         2       1
585        3      3     3       6         1       1
237        4      2     2       6         2       1
1093       2      2     2       4         2       2
1459       1      3     4       2         1       2
88         4      4     5       2         3       2
1699       1      1     4       6         3       2
605        3      3     4       4         1       3
28         4      4     3       2         1       2
1572       1      2     4       2         3       1
514        3      4     5       2         1       2
1002       2      3     3       2         2       1
...      ...    ...   ...     ...       ...     ...
1003       2      3     3       2         2       2
124        4      3     2       4         3       2
274        4      2     4       2         2       2
600        3      3     4       2         3       1
1536       1      2     2       6         3       1
1520       1      2     2       2         3       3
422        4      1     5       4         3       3
1077       2      3     5       6         3       1
86         4      4     5       2         2       3
246        4      2     3       2         2       1
1385       1      4     5       2         3       3
1322       1      4     2       6         3       3
1585       1      2     4       6         1       2
839        3      1     5       2         1       3
1232       2      1     3       4         3       3
34         4      4     3       2         3       2
615        3      3     4       6         2       1
504        3      4     4       6         1       1
393        4      1     4       4         3       1
721        3      2     4       6         1       2
346        4      1     2       6         2       2
920        2      4     4       2         1       3
470        3      4     3       4         1       3
737        3      2     5       2         3       3
947        2      4     5       2         1       3
25         4      4     2       6         3       2
301        4      2     5       2         2       2
134        4      3     2       6         3       3
1224       2      1     3       4         1       1
397        4      1     4       6         1       2

[1296 rows x 6 columns]

In [17]:
classifier_tree = DecisionTreeClassifier()

In [18]:
classifier_tree.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [19]:
preds = classifier_tree.predict(X_test)

In [20]:
sum(preds == y_test) / len(y_test)

0.9814814814814815

In [21]:
from sklearn.externals import joblib

In [22]:
joblib.dump(classifier_tree, '../data/car_tree.pkl')

['../data/car_tree.pkl']